body {
	font-family: 'Montserrat', sans-serif;
}

.border {
	border-style: rounded;
	border-color: black;
	border-width: 10em;

}

.page-header {
	background-color: #004080;
	color: #ffffff;
	text-align:center;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary {
    color: #ffffff;
    background-color: #004080;
    border-color: #004080;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover {
	background-color: #5186db;
    border-color: #5186db;
}


h1, i {
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}