body {
	font-family: 'Montserrat', sans-serif;
}

.border {
	border-style: rounded;
	border-color: black;
	border-width: 10em;

}

.page-header {
	background-color: #004080;
	color: #ffffff;
	text-align:center;
}

h1 {
	display: inline-block;
  vertical-align: middle;
  line-height: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}